<ion-header>
  <ion-navbar>
    <ion-title>Encontre minha Cidade</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <fmc-google-map height="60%" (init)="onMapInit($event)"></fmc-google-map>
  <ion-list>
    <button ion-button class="button button-block button-positive" (click)="geolocate()">
      Mostre onde estou
    </button>
    <ion-card *ngIf="myLocation">
      <ion-item (click)="centerPoint(myLocation)">
        <ion-icon name="home" item-start large></ion-icon>
        <h2>{{myLocation.name}}</h2>
        <p *ngIf="city">Código IBGE: {{ city.ibge }}</p>
      </ion-item>

      <ion-item (click)="centerPoint(jardimBotanico)">
        <ion-icon name="ios-leaf" item-left large></ion-icon>
        <h2>{{jardimBotanico.name}}</h2>
        <p>{{distance}} Quilômetros</p>
      </ion-item>

    </ion-card>
  </ion-list>

</ion-content>